.body
{
    background-color:#E6ECF3;
}


.Pdiv1
{
    width: auto;
    height: 325px;
    background-color: #00b5ec;
}

.img
{
    background-color: white;
    border-radius: 154px;
    margin-left: 500px;
    width: 250px;
    margin-top: 25px;
    height: 245px;
}

.Name
{
    margin-left: 575px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.APS
{
    float: left;
    margin: 10px 90px 12px 34px;
}

.Colorwhite
{
    background-color: white;
}

.PersonalBox
{
    
    clear: left;
    float: left;
    height: 350px;
    width: 300px;
    margin: 40px 1px 0px 0px;
    background-color: white;
}



.Personaldiv
{
    padding: 15px 0px 23px 27px;
    border-bottom: 2px solid;
    border-color: #E6ECF3;
    font-weight: bold;
    
}

.FMEL
{
    padding: 15px 0px 0px 15px;
    font-weight: bold;
}

.gray
{
    margin: 5px 0px 0px 15px;
    color: darkgray;
}

.DivBio
{
    float: left;
    background-color: white;
    width: 925px;
    height: 265px;
    margin: 40px 0px 0px 15px;
}

.DivBioText
{
    margin: 20px 0px 0px 15px;
    font-size: 18px;
}

.DivBioTextBold
{
    margin: 15px 0px 0px 15px;
    font-weight: bold;
    font-size: 18px;
}

.DivLanguges
{
    clear: left;
    float: left;
    background-color: white;
    width: 300px;
    height: 150px;
    margin-top: 50px;

    
}

.ListColor
{
    color: darkgray;
    margin-left: 25px;
}

.DivSkills
{
    float: left;
    background-color: white;
    width: 925px;
    height: 345px;
    margin: -50px 0px 0px 17px;
}

.Percent
{
    float: left;
    font-weight: bold;
    margin: 15px 0px 0px 735px;

    
}

.AJWH
{
    float: left;
    margin: 15px 0px 0px 25px;
}

.PercentProperties
{
    clear: left;
    background-color: #E6ECF3;
    width: 840px;
    height: 20px;
    border-radius: 7px;
    margin: 40px 0px 0px 23px;
}